<header class="container-fluid  clearfix header">
    <ul class="pull-left header_msg">
        <li><span class="sys_mesg"></span><a href="#">系统信息<u class="mes_icon">1</u></a><i>|</i> </li>
        <li><a href="#">告警提示<u class="gao_icon"></u></a><i>|</i></li>
        <li><a href="#">审核信息</a></li>
    </ul>
    <div class="pull-right header_user">
        <p class="no_user">
            <span class="login_user"></span><a href="sskl_login.html">登录</a>|<a href="#">注册</a>
        </p>
        <!--<p class="has_user">-->
        <!--<a href="#"><img src="imgs/timg1.jpg" alt=""></a><span>路飞</span>-->
        <!--</p>-->
    </div>
</header>