<div class="logo">
    <img src="/assets/sskl/images/logo.png" alt="">
</div>
<ul class="nav_list">
    <li><span class=" nav_icon res_icon"></span><a href="sskl_index.html">资源管理</a></li>
    <li><span class=" nav_icon net_icon"></span><a href="sskl_netMonitor.html">网络监测</a></li>
    <li><span class=" nav_icon order_icon"></span><a href="sskl_orderMesg.html">工单管理</a></li>
    <li><span class=" nav_icon stat_icon"></span><a href="#">基站管理</a></li>
    <li><span class=" nav_icon config_icon"></span><a href="#">远程配置</a></li>
    <li><span class=" nav_icon user_icon"></span><a href="#">用户权限管理中心</a></li>
    <li><span class=" nav_icon forms_icon"></span><a href="#">统计报表</a></li>
    <li><span class=" nav_icon log_icon"></span><a href="#">日志信息</a></li>
    <li><span class=" nav_icon benefit_icon"></span><a href="#">效益评估</a></li>
    <li><span class=" nav_icon spare_icon"></span><a href="#">备件管理</a></li>
</ul>