<div class="headLogo pull-left">
    <img src="/assets/sskl/images/logo.png" alt="">
</div>
<div class="headMegs pull-left">
    <ul>
        <li><span class="mesSys"></span><a href="sskl_systemMessages.html">系统消息</a><span class="sysNums">12</span></li>
        |
        <li><a href="#">告警提示 <i class="alarmTip"></i></a></li>
        |
        <li><a href="#">审核信息</a></li>
    </ul>
</div>
<!--<div class="headUser pull-right">-->
    <!--<img src="/assets/sskl/images/logo.png" alt="">-->
    <!--<span>纯木良子</span>-->
<!--</div>-->
<div class="headNoUser pull-right">
    <i></i>
    <a href="sskl_loginIn.html">登录</a>|<a href="sskl_loginIn.html">注册</a>
</div>