<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/sskl/css/bootstrap.css">
    <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
    <link rel="stylesheet" href="/assets/sskl/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/assets/sskl/css/commor.css">
     <link rel="stylesheet" href="/assets/sskl/css/myStyle1.css">
     <script src="/assets/sskl/js/jquery-1.11.3.js"></script>
    <script src="/assets/sskl/js/commor.js"></script>
    <style>
        .sec_main{
            width:100%;
            min-height:500px;
            overflow: visible;
        }
    </style>
</head>
<body>
{% include "templates/sskl_header.html" %}
<section class="section clearfix">
    <nav class="sec_nav">
        {% include "templates/sskl_navLeftList.html" %}
    </nav>
    <main class="sec_main pull-right clearfix" >
        {% block content %}

        {% endblock%}
    </main>
</section>

<script>
  $(".sec_main").height($(window).height());
</script>
</body>
</html>