<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>杉杉凯励新能源</title>
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="css/jquery.datetimepicker.css">-->
    <!--<link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">-->
    <!--<link rel="stylesheet" href="css/commor.css">-->
    <!--<link rel="stylesheet" href="css/myStyle1.css">-->
    <!--<script src="js/jquery-1.11.3.js"></script>-->


    <!--<script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>-->
    <!--<script src="https://img.hcharts.cn/highcharts/modules/exporting.js"></script>-->
    <!--<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>-->

    <style>
        body{
            background-color: #f5f5f5;
        }
        .sec_main{
            margin-bottom: 50px;
        }
        .xdsoft_datetimepicker{
            top:252px;!important;
        }
    </style>
</head>
<body>
{% include "templates/sskl_header.html" %}
<section class="section clearfix">
    <nav class="sec_nav">
        <% include "templates/sskl_navLeftList.html" %>
    </nav>
    <main class="sec_main pull-right clearfix">
       0000
    </main>
</section>

<!--<script src="js/jquery.datetimepicker.js"></script>-->
<!--<script src="js/jquery.datetimepicker.js"></script>-->
<!--<script src="js/total_voltage.js"></script>-->

<!--<script src="js/currentHistory.js"></script>-->
<!--<script src="js/jquery-ui-timepicker-zh-CN.js"></script>-->
<!--<script src="js/commor.js"></script>-->
<script>

</script>

</body>
</html>