{% extends "templates/sskl_base.html" %}

{% block content %}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=U5bEqrINmdgbeXXgfaNNk1rHGGtRCU2Z"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>

<div>
  map
</div>

        <script>
              {% include "templates/pages/sskl_index.js" %}
        </script>
{% endblock %}
