{% extends "templates/sskl_00main.html" %}

{% block myContent %}
<script src="/assets/sskl/js/jquery-ui.js"></script>

<!--系统消息表格js-->
<link rel="stylesheet" href="/assets/sskl/css/ui.jqgrid.css">
<link rel="stylesheet" href="/assets/sskl/css/jquery-ui-1.8.16.custom.css">
<link rel="stylesheet" href="/assets/sskl/css/myJqgrid.css">
<script src="/assets/sskl/js/jquery.jqGrid.src.js"></script>
<script src="/assets/sskl/js/grid.locale-cn.js"></script>


<style>
    body {
        background-color: #fff;
    }
     .systemMesages {width:100%;}
        .sysTab {overflow:hidden;zoom:1;background:#fff;}
        .sysTab li {float:left;color:#000;height:62px;	cursor:pointer;	line-height:62px;padding:0 20px;}
        .sysTab li.current {border-bottom:3px solid #437af1}
        .sysMegContent >div {line-height:25px;display:none;padding:10px 0; min-height:50px;}
</style>
<div class="mainTitle container">
    <span>系统消息</span>
</div>

<div class="container">
   <div class="systemMesages">
    <ul id="tab" class="sysTab">
        <li class="current">全部消息</li>
        <li>未读消息</li>
        <li>已读消息</li>
    </ul>
    <div id="sysMegContent" class="sysMegContent">
        <div style="display:block;">
            <table id="lista1"></table>
            <div id="pagera1"></div>
        </div>
        <div>
            <a href="http://www.lanrenzhijia.com/service">未读消息页面</a>
        </div>
        <div>
            <a href="http://www.lanrenzhijia.com/js/css3">已读消息页面</a>
        </div>
    </div>
</div>
</div>

<script></script>
<script>
     $(function(){
         sysTab();//sysTab

    });
    //      url:"http://192.168.174.140/api/method/tieta.tieta.doctype.cell_station.cell_station.list_station_info",-->
    //      success:function(data)
        function sysTab(){
             var $li = $('#tab li');
            var $div = $('#sysMegContent>div');
            $li.click(function(){
                var $this = $(this);
                var $t = $this.index();
                $li.removeClass();
                $this.addClass('current');
                $div.css('display','none');
                $div.eq($t).css('display','block');
            })
        }
</script>
    <script>
        {% include "templates/pages/sskl_systemMessages.js" %}
    </script>

{% endblock%}

