<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>北京杉杉凯励新能源科技有限公司</title>
    <link rel="stylesheet" href="/assets/sskl/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/sskl/css/00commor.css">
    <link rel="stylesheet" href="/assets/sskl/css/userLoginAbout.css">
    <script src="/assets/sskl/js/jquery-1.11.3.js"></script>
    <script src="/assets/sskl/js/bootstrap.min.js"></script>
    <script src="/assets/sskl/js/jquery-ui.js"></script>
    <style>
          html{
            width:100%;
            height:100%;
            overflow: hidden;
        }
        body {
            position:relative;
            width:100%;
            height:100%;
            background: url("/assets/sskl/images/sskl_logo.png") no-repeat;
            background-size: 100% 100%;

        }
        .forgetPasswordBox{
            margin-top:10px;
        }
        .forgetRegisterBox .boxForget p {
            height: 28px;
            line-height: 28px;
            text-align: center;
            margin: 10px 0px;
        }

        .forgetRegisterBox .boxForget p > u {
            text-decoration: underline;
            cursor: pointer;
            color: #020202;
        }
        .boxForget .phoneConfirm input{
            border-radius: 0px!important;
        }
        .remberPassAgain{
            font-size:12px;
            text-decoration: none;
        }

    </style>
</head>
<body>
<div class="loginRegisterBox forgetPasswordBox">
    <p class="loginLogo"><img src="/assets/sskl/images/LoginLoco.png" alt=""></p>
    <div id="tabs" class="loginRegister forgetRegisterBox" >
        <ul id="loginAndRegUl">
            <li class="clickLoginAbout"><a href="#tabs-1">找回密码</a></li>
            <li><a href="#tabs-2">注册</a></li>
        </ul>
        <div id="tabs-1" class="boxForget">
            <form class="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="userIcon"></span></div>
                        <input type="text" class="form-control" id="userName" placeholder="输入用户名">
                    </div>
                </div>
                <p>请输入下面图片中的文字 <u>[换一张]</u></p>
                <div class="form-group inlineVerCode">
                    <div class="input-group Variable">
                        <div class="input-group-addon"><span class="verCodeIcon" id=""></span></div>
                        <input type="text" class="form-control inlineVer" id="inputCode" placeholder="输入验证码">
                    </div>
                    <div class="dynamicImg" id="code" onclick="createCode()">

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group phoneConfirm">
                        <div class="input-group-addon"><span class="userPhoneIcon"></span></div>
                        <input type="text" class="form-control" id="inputVerification" placeholder="输入验证码">
                        <div class="input-group-addon getCode" id="getCode" onclick="sendsms(this)">获取验证码</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="passwordIcon"></span></div>
                        <input type="password" class="form-control" id="password" placeholder="输入新密码">
                    </div>
                </div>

                <p>
                    <a href="sskl_loginIn.html" class="remberPassAgain pull-right">又想起来了？</a>
                </p>
                <p class="errMegs" id="loginErrMegs" style="display: none">请输入密码</p>

                <a type="submit" class="btn loginInBtn btn-block" id="submitBtn" href="#">提交</a>
            </form>
        </div>
        <div id="tabs-2" class="boxRegister">
            <form class="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="userIcon"></span></div>
                        <input type="text" class="form-control" id="userPhone" placeholder="请输入手机号码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group phoneConfirm">
                        <div class="input-group-addon"><span class="userPhoneIcon"></span></div>
                        <input type="text" class="form-control" id="inputPhoneCode" placeholder="输入验证码">
                        <div class="input-group-addon getCode" id="getphoneCode">获取验证码</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="passwordIcon"></span></div>
                        <input type="password" class="form-control" id="password" placeholder="输入密码">
                    </div>
                </div>
                <!--<p class="errMegs" id="regErrMegs">请输入密码</p>-->
                <a type="submit" class="btn btn-block registerBtn" id="register" href="sskl_register.html">下一步</a>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#tabs").tabs();
        $("#loginAndRegUl li").click(function () {
            $(this).addClass("clickLoginAbout").siblings(".clickLoginAbout").removeClass("clickLoginAbout");

        });
    });

    function sendsms(e){
        /*发送验证码功能*/
        countdown(e);                                   //若发送验证码成功，则调用倒计时函数
    }
    //倒计时函数
    var time = 3;
    function countdown(e){
        if (time == 0) {
            //e.setAttribute('disabled',false);         对没有disbaled属性的span标签，此方法无效
            e.setAttribute("onclick","sendsms(this)");
            $("#getCode").html("获取验证码");
            time = 3;
        }else{
            //e.attr('disabled',true);                  对没有disbaled属性的span标签，此方法也无效
            //e.setAttribute("onclick", '');            这样写也可以
            e.removeAttribute("onclick");
            $("#getCode").html(time +"S后重新发送").css("color","#fff");
            time--;
            setTimeout(function() {
                countdown(e)
            },1000)
        }
    }




   var code ; //在全局定义验证码
    //产生验证码
    window.onload = function(){
        createCode();
    }
    function createCode(){
        code = "";
        var codeLength = 4;//验证码的长度
       $("#code");
        var random = new Array(0,1,2,3,4,5,6,7,8,9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R',
            'S','T','U','V','W','X','Y','Z');//随机数
        for(var i = 0; i < codeLength; i++) {//循环操作
            var index = Math.floor(Math.random()*36);//取得随机数的索引（0~35）
            code += random[index];//根据索引取得随机数加到code上
        }
       $("#code").html(code);//把code值赋给验证码
    }
    $("#submitBtn").click(function(){

        validate()

    });
     function validate(){
        var inputCode= $("#inputCode").val().toUpperCase();
//        var inputCode = document.getElementById("inputCode").value.toUpperCase(); //取得输入的验证码并转化为大写
        if(inputCode.length <= 0) { //若输入的验证码长度为0
            $("#loginErrMegs").show().html("请输入验证码");
        }
        else if(inputCode != code ) { //若输入的验证码与产生的验证码不一致时
            $("#loginErrMegs").show().html("验证码输入错误");
            createCode();//刷新验证码
            $("#inputCode").val("");
        }
        else { //输入正确时
           window.location="sskl_00map.html";
        }
    }
</script>
</body>
</html>