<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% block loginStyle %}
    <link rel="stylesheet" href="/assets/sskl/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/assets/sskl/css/jquery-ui.css">-->
    <link rel="stylesheet" href="/assets/sskl/css/commor.css">
     <link rel="stylesheet" href="/assets/sskl/css/loginAbout.css">
    <script src="/assets/sskl/js/jquery-1.11.3.js"></script>
    <script src="/assets/sskl/js/jquery-ui.js"></script>
    {% endblock %}
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
    <style>

    </style>
</head>
<body style="background: url('/assets/sskl/images/backgroundLogo.png') no-repeat;background-size: 100% 100%;">
<div class="container loginMain">
    <div class="logoImg">
        <img src="/assets/sskl/images/logoBack.png" alt="1">
    </div>
    <div id="tabs" class="login">
        <ul class="loginInUl">
            <li style="background-color: #fff"><a href="#tabs-1" >登录</a></li>
            <li><a href="#tabs-2">注册</a></li>
        </ul>
        <div id="tabs-1">
            <form class="form loginForm" autocomplete="off">
                <div class="form-group firstFormGroup">
                    <div class="input-group">
                        <div class="input-group-addon"><span></span></div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="passwordIcon"></span></div>
                        <input type="password" class="form-control" id="exampleInputAmount" placeholder="输入密码">
                    </div>
                </div>
                <div class="form-group passWordAbout" style="text-align: left">
                    <input type="checkbox" id="remPass" autocomplete="on" class="isChecked"/>
                    <label for="remPass">记住密码</label>
                    <a href="sskl_forgetPass.html" class="pull-right forgetPass">忘记密码?</a>
                </div>
                <p class="loginPrompt" id="entryPass">请输入密码</p>
                <!--<p class="loginPrompt" id="userAndPassword">请输入用户名用和密码</p>-->
                <!--<p class="loginPrompt" id="UserName">请输入用户名</p>-->
                <!--<p class="loginPrompt" id="ErrorUserPass">用户名或密码有错</p>-->
                <a type="submit" class="btn loginIn" id="login" href="sskl_index.html">登录</a>
            </form>
        </div>
        <div id="tabs-2">
            <form class="form loginForm" autocomplete="off">
                <div class="form-group firstFormGroup">
                    <div class="input-group">
                        <div class="input-group-addon"><span></span></div>
                        <input type="text" class="form-control" id="phoneNum" placeholder="请输入手机号码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="passwordIcon"></span></div>
                        <input type="text" class="form-control" id="inputVerification" placeholder="输入验证码">
                        <div class="input-group-addon getCode" id="getCode">获取验证码</div>
                    </div>
                </div>
                <div class="form-group firstFormGroup">
                    <div class="input-group">
                        <div class="input-group-addon"><span></span></div>
                        <input type="password" class="form-control" id="getpassWord" placeholder="请输入密码">
                    </div>
                </div>

                <p class="loginPrompt" id="MesErr" style="text-align: left">密码为6-12位</p>
                <a type="submit" class="btn loginIn" id="register" href="sskl_register.html">下一步</a>
            </form>
        </div>
    </div>
</div>
<script>
        {% include "templates/pages/sskl_login.js" %}
</script>
<script>


</script>
</body>
</html>