{% extends "templates/sskl_base.html" %}

{% block myCss %}


{% endblock %}
{% block content %}
<script src="/assets/sskl/js/bootstrap.min.js"></script>
<script src="/assets/sskl/js/jquery.dataTables.min.js"></script>
<script src="/assets/sskl/js/jquery.dataTables.bootstrap.min.js"></script>
<style>
    .stationTable {
        background-color: #fff;
    }
    .stationTable tr {
        height: 48px;
        border: 0px;
        line-height: 48px;
    }
    .stationTable tbody tr:first-child {
        border-top: 1px solid #e3e7e3;
    }
    .stationTable tbody tr:last-of-type {
        border-bottom: 1px solid transparent;
    }

    .stationTable tbody tr:hover {
        background-color: #eaf9f7;
        border-top: 1px solid #54f0e0 !important;
        border-bottom: 1px solid #54f0e0;
    }

    /**/
    .dataTables_length > label {
        position: relative;
        top: 0px;
        left: 0px;
        margin-top: 3px;
    }

    .dataTables_length > label > select {
        margin-left: 10px;
    }
    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
    .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        background-color: #12c08f;
        border: 0px;
        width: 34px;
        height: 34px;
    }
</style>
<div class="main_title">
            <span>
                网络监测
            </span>
    <div class="main_search pull-right mar_rt_40" id="div">
        <input type="text" placeholder="请输入基站名称" id="baseName">
        <!--<i class="glyphicon glyphicon-search  stateSearch"></i>-->
        <i class="stateSearch commorSearch"></i>
    </div>
</div>

<div class="searchs container-fluid">
    <span>
            <input type="text" value="省/直辖市" rgn="0" id="provinceInput" class="clickToggle">
            <u class="commorToggle"></u>
             <div id="provinceDiv" class="divShow">
                <ul class="ul shi_ul" id="provinceUl">
                    <li rgn='0' rgnType=Province>省/直辖市</li>
                </ul>
             </div>
    </span>
    <span>
             <input type="text" value="市" rgn="0" id="cityInput" class="clickToggle">
            <u class="commorToggle"></u>
             <div id="cityDiv" class="divShow">
                <ul class="ul city_ul" id="cityUl">
                    <li rgn='0' rgnType='City'>城市</li>
                </ul>
             </div>
    </span>
    <span>
            <input type="text" value="县" rgn="0" id="countyInput" class="clickToggle">
        <!--<u class="glyphicon glyphicon-menu-down"></u>-->
            <u class="commorToggle"></u>
            <div id="countyDiv" class="divShow">
                <ul class="ul conty_ul" id="countyUl">
                    <li rgn='0' rgnType='County'>县</li>
                </ul>
             </div>
    </span>
    <span class="statinput">
             <input type="text" value="状态" state="0" class="statInput">
             <u class="commorToggle"></u>
             <div id="statDiv">
                <ul class="ul sta_stat">
                    <li state="0">状态</li>
                    <li state="OFFLINE">故障</li>
                    <li state="ONLINE">正常</li>
                </ul>
             </div>
    </span>
    <span><input type="text" placeholder="数据采集器" id="sn_caiji"></span>
    <span><input type="text" placeholder="基站编码" id="stat_code"></span>
    <span><button type="button" class="beg_secrch pull-right mar_rt_40" id="beg_search">搜索</button></span>
</div>
<div class="main_pages">
    <p>
        <button class="button pull-right mar_rt_40 borderRadia_36" id="exportBtn" onclick="javascript:method1('stationTable')">导出 <u>Excel</u>
        </button>
    </p>
</div>
<div class="table_list container-fluid">
    <table id="stationTable" class="table stationTable table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
            <td>设备编码</td>
            <td>基站名称</td>
            <td>使用名称</td>
            <td class="stat_address">基站地址</td>
            <td>网关地址</td>
            <td>经度</td>
            <td>维度</td>
            <td>监控状态</td>
        </tr>
        </thead>
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>BJ_HD_Coo1</td>-->
        <!--<td>西郊田村</td>-->
        <!--<td>备电</td>-->
        <!--<td>北京市 北京市海淀区田村</td>-->
        <!--<td>180.153.49.173</td>-->
        <!--<td>119.633</td>-->
        <!--<td>39.63</td>-->
        <!--<td><span class="state_err">故障</span></td>-->
        <!--</tr>-->
        <!--</tbody>-->
    </table>

</div>
<script>
    {% include "templates/pages/sskl_netMonitor.js" %}
</script>
{% endblock%}
